/* === Forms === */

@include placeholder	{
	color: $grey;
}

input	{
	border-radius: 0px;
}

input[type="checkbox"]	{
	-webkit-appearance: none;
	appearance: none;
	border: 1px solid lighten($grey, 10%);
	width: 24px;
	height: 24px;
	position: relative;
	outline: none;
	cursor: pointer;
	transition: all 0.3s ease-in;

	&:focus	{
		outline: none;
	}

	&:checked	{
		background: transparent;
		border-color: transparent;
		// transform: scale(1.5);
		transition: all 0.3s ease-out;
		-webkit-animation-name: pulse;
		-webkit-animation-duration: 0.3s;
		-webkit-animation-timing-function: ease;
		-webkit-animation-delay: 0s;            
		-webkit-animation-iteration-count: 1;   
		-webkit-animation-direction: normal;		

		&:before	{
			content: " ";
			border: 2px solid $dark-grey;
			border-width: 0 2px 2px 0;
			position: absolute;
			width: 12px;
			height: 24px;
			bottom: 0;
			left: 7px;
			-webkit-transform: rotate(45deg);
			transition: all 0.3s ease-in;
			-webkit-animation-name: color;
			-webkit-animation-duration: 0.3s;
			-webkit-animation-timing-function: ease;
			-webkit-animation-delay: 0s;            
			-webkit-animation-iteration-count: 1;   
			-webkit-animation-direction: normal;			
		}
	}
}

input[type="text"]	{
	color: $grey;
	padding: 1rem 1.5rem;
	-webkit-appearance: none;
	background: rgba(0, 0, 0, 0.02);
	border-radius: 0px;
	border: none;
	text-indent: 0;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.06);

	&::-webkit-input-placeholder	{
		text-indent: 0;			
		transition: all 0.3s ease-out;
		opacity: 0.5;

	}	
	
	&:focus	{
		outline: none;

		&::-webkit-input-placeholder	{
			text-indent: -100%;	
			opacity: 0;		
			transition: all 0.3s ease-in;
		}

	}
}


// Add Task Form 

.task-form	{
	width: 100%;
	clear: both;
	margin: 0 auto ($space * 3) auto;
	text-align: center;
	font-size: 0;


	@include breakpoint($small)	{
		width: 80%;
	}

	@include breakpoint($large)	{
		width: 60%;
	}	

	input[type="text"]	{
		width: 70%;
		display: inline-block;
		font-size: 1.5rem;
		height: 5rem;
	}

	button	{
		width: 22%;
		display: inline-block;
		font-size: 0;
		height: 5rem;
		border: none;
		top: 3px;
		position: relative;

		@include breakpoint($tiny)	{
			font-size: 1.5rem;
			width: 30%;
			top: 0;
		}

		&:before	{
			font-family: 'icomoon';
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;

			/* Better Font Rendering =========== */
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;

			content: "\61";
			font-size: 2rem;
			display: block;

			@include breakpoint($tiny)	{
				display: none;
				font-size: 1.5rem;
			}


		}
	}

}















