/* === Forms === */

input[type="checkbox"]	{
	-webkit-appearance: none;
	appearance: none;
	border: 1px solid $dark-grey;
	width: 24px;
	height: 24px;
	position: relative;
	outline: none;
	cursor: pointer;
	transition: all 0.3s ease-in;

	&:focus	{
		outline: none;
	}

	&:checked	{
		background: transparent;
		border-color: transparent;
		// transform: scale(1.5);
		transition: all 0.3s ease-out;
		-webkit-animation-name: pulse;
		-webkit-animation-duration: 0.3s;
		-webkit-animation-timing-function: ease;
		-webkit-animation-delay: 0s;            
		-webkit-animation-iteration-count: 1;   
		-webkit-animation-direction: normal;		

		&:before	{
			content: " ";
			border: 2px solid $dark-grey;
			border-width: 0 2px 2px 0;
			position: absolute;
			width: 12px;
			height: 24px;
			bottom: 0;
			left: 7px;
			-webkit-transform: rotate(45deg);
			transition: all 0.3s ease-in;
		}
	}
}

input[type="text"]	{
	padding: 1rem 1.5rem;
	-webkit-appearance: none;
	border-radius: 0px;

	&:focus	{
		outline: none;
	}	
}


// Add Task Form 

.task-form	{
	width: 100%;
	clear: both;
	margin: 0 auto ($space * 3) auto;
	text-align: center;
	font-size: 0;


	@include breakpoint($small)	{
		width: 80%;
	}

	@include breakpoint($large)	{
		width: 60%;
	}	

	input[type="text"]	{
		width: 70%;
		display: inline-block;
		font-size: 1.5rem;
		height: 5rem;
	}

	button	{
		@extend .aqua-gradient;
		width: 30%;
		display: inline-block;
		font-size: 1.5rem;
		height: 5rem;
		border: none;
	}

}















