/* === Rows === */

.tasks	{
	float: left;
	display: block;
	width: 100%;
	clear: both;
}

.tasks ul	{
	width: 100%;
	clear: both;
	float: left;
}

.tasks li	{
	padding-top: $space / 2;
	padding-bottom: $space / 2;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	color: $grey;
	float: left;
	width: 100%;
	clear: both;
	display: block;

	@include breakpoint($small)	{
		display: table;
	}

	&:last-child	{
		border-bottom: none;
		padding-bottom: 0;
	}

	&:first-child	{
		padding-top: 0;
	}	

	*	{
		opacity: 1;
		transition: all 0.3s linear;
	}

	&.complete	{

		& > *	{
			opacity: 0.3;
			transition: all 0.3s linear;
		}

		.task-actions	{
			opacity: 0.5;
		}

		.task-info	{
			text-decoration: line-through;

		}
	}

	.task-status, .task-info, .task-actions	{
		display: block;
		float: left;

		@include breakpoint($small)	{
			display: table-cell;
			vertical-align: middle;	
			float: none;		
		}
	}

	.task-status	{
		width: 20%;
	}

	.task-info	{	
		width: 60%;
	}

	.task-actions	{
		width: 20%;
		text-align: right;
	}		
}

.delete-task	{
	cursor: pointer;
	color: $error-color;
	font-size: 2rem;
	width: 25px;
	display: inline-block;

	& > svg	{
		width: 100%;
		height: auto;

		.dt-fill	{
			fill: $grey;
		}
	}

	&:hover	{
		& > svg	{

			.dt-fill	{
				fill: $error-color;
			}
		}		
	}
}

// .tasks li.complete .delete-task > svg	{
// 		-webkit-animation-name: pulse;
// 		-webkit-animation-duration: 0.3s;
// 		-webkit-animation-timing-function: ease;
// 		-webkit-animation-delay: 0s;            
// 		-webkit-animation-iteration-count: 1;   
// 		-webkit-animation-direction: normal;	
// }










