/* === Rows === */

.tasks	{
	float: left;
	display: block;
	width: 100%;
	clear: both;
}

.tasks ul	{
	width: 100%;
	clear: both;
	float: left;
}

.tasks li	{
	padding-top: $space / 2;
	padding-bottom: $space / 2;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	color: $grey;
	float: left;
	width: 100%;
	clear: both;
	display: block;

	@include breakpoint($small)	{
		display: table;
	}

	&:last-child	{
		border-bottom: none;
		padding-bottom: 0;
	}

	&:first-child	{
		padding-top: 0;
	}	

	*	{
		opacity: 1;
		transition: all 0.3s linear;
	}

	&.complete	{

		& > *	{
			opacity: 0.3;
			transition: all 0.3s linear;
		}

		.task-info	{
			text-decoration: line-through;

		}
	}

	.task-status, .task-info, .task-actions	{
		display: table-cell;
		vertical-align: middle;	
		float: none;		
	}

	.task-status	{
		width: 20%;
	}

	.task-info	{	
		width: 60%;
		word-break: break-word;
	}

	.task-actions	{
		width: 20%;
		text-align: right;
	}		
}

.delete-task	{
	cursor: pointer;
	color: $error-color;
	font-size: 2rem;
	width: 25px;
	display: inline-block;
	position: relative;
	z-index: 10;
	color: $grey;
	font-size: 2.9rem;

	&:hover	{
		color: $error-color;	
	}
}










