.app-header	{
	padding: 0;
	background-image: -webkit-linear-gradient(#424757 0%, #262934 100%);
	background-image: -o-linear-gradient(#424757 0%, #262934 100%);
	background-image: linear-gradient(#424757 0%, #262934 100%);
	height: 6.4rem;

	@include breakpoint($small)	{
		display: none;
	}
}

.nav-icon	{
	cursor: pointer;
	padding: 1.7rem 2rem 2rem 2rem;
	float: left;
	height: 6.4rem;
	background: rgba(0, 0, 0, 0.3);
	-webkit-transition: all 0.3s ease-out;

	*	{
		transition: all 0.3s ease-out;
	}	

	#nav-icon	{
	 
		.bar	{
			fill: #fff;
		}

		.bar-top	{
			-webkit-transform: translateY(0); 

		}

		.bar-middle	{
			-webkit-transform: translateY(0.8rem);
			
		}

		.bar-bottom	{
			-webkit-transform: translateY(1.6rem);
		}	

	}	
}

.nav-icon.active-nav	{
	padding: 1.6rem 2rem 2rem 2rem;
	-webkit-transition: all 0.3s ease-in;

	*	{
		transition: all 0.3s ease-in;
	}

	#nav-icon	{
		height: 31px;
		margin-bottom: -7px;

		.bar-top	{
			-webkit-transform: rotate(45deg) translateY(-1rem) translateX(-0.2rem);

		}

		.bar-middle	{
			-webkit-transform: translateY(0.8rem);
			opacity: 0;
		}

		.bar-bottom	{
			-webkit-transform: rotate(-45deg) translateY(1.6rem) translateX(-1.1rem);
		}	

	}	
}

