header	{
	background: #ddd;
	transition: all 0.3s ease-out;
	color: #000;
	padding-left: 10px;
	margin-bottom: 30px;
}

.nav	{
	width: 100%;

	& > ul	{
		width: 100%;
		text-align: center;

		& > li	{
			display: inline-block;
			padding: 8px 16px;

			& > a	{
				color: #000;
			}
		}
	}
}