.animated {
  -webkit-animation-duration: 0.35s;
  animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }
  .animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }

/*	Border Radius
============================================ */
/************************
BREAKPOINTS - getsimple.io
************************/
/*  Strip unit
============================================ */
/*  Font Size (px, em, rem)
============================================ */
/*  Buttons
============================================ */
/*	Sticky Footer
============================================ */
header {
  background: red;
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }
