.animated {
  animation-duration: 0.35s;
  animation-fill-mode: both; }
  .animated.infinite {
    animation-iteration-count: infinite; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, main, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body {
  height: 100%; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* Helper classes
----------------------------------------- */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.centerAlign {
  margin: 0 auto !important;
  float: none !important;
  display: block !important; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* Print Styles
----------------------------------------- */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/* ============================================
    P L A C E H O L D E R S
============================================ */
/*  Photo Styles
============================================ */
/*  No Flick Webkit
============================================ */
.no-flick, #nav ul.main-menu.main-menu > li > .sub-menu {
  transform: translate3d(0, 0, 0); }

/*  Vertical Align
============================================ */
.valign {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.btn, .comments #respond form .form-submit input[type="submit"], .gform_button, .pagination.infinite-scroll-pagination a, .comments .comment-list > li.comment article.comment .comment-author, .comments .comment-list > li.comment article.comment .comment-content, article.post .post-meta .meta-label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 1rem;
  text-align: left; }

.horizontal-center {
  transform: translateX(-50%);
  left: 50%; }

.absolute-center {
  position: absolute !important;
  width: 100%;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%); }

/*	Border Radius
============================================ */
/************************
BREAKPOINTS - getsimple.io
************************/
/*  Strip unit
============================================ */
/*  Font Size (px, em, rem)
============================================ */
/*  Buttons
============================================ */
.btn, .comments #respond form .form-submit input[type="submit"], .gform_button, .pagination.infinite-scroll-pagination a {
  background: red;
  color: white;
  padding: 0 1.5em;
  font-size: 16px;
  font-size: 1em;
  font-size: 1rem;
  border-radius: 2px;
  background-clip: padding-box;
  margin-bottom: .5em;
  border: none;
  user-select: none;
  appearance: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  outline: 0;
  transition: all 0.35s cubic-bezier(0.2, 0.4, 0.1, 1); }
  .btn:hover, .comments #respond form .form-submit input[type="submit"]:hover, .gform_button:hover, .pagination.infinite-scroll-pagination a:hover {
    background: #cc0000;
    color: white; }

/*	Sticky Footer
============================================ */
/* ============================================
    S I M P L E


 * The template is for rendering single's.
 *
 * @package     Simple
 * @version     1.0
 * @author      Constantine Kiriaze
 * @website     github.com/kiriaze/simple

    Browsers: ie8, ie10, ie11, FF, Safari, Chrome

    Dependancies :

        Variables below defined in _base.scss

            $container-class: 'foo';
            $column-class: 'bar';
            $gutter: 3rem; // spacing between columns
            $max-columns: 6; //  @for loop class declarations
            breakpoint mixins

.columns-{percentage, double digit}
    .columns-70, .columns-30 = totaling to 100

.columns-{single digit number}
    .columns-1
    .columns-2, .columns-2
    .columns-4, .columns-4, .columns-4, .columns-4

============================================ */
[class~='row'],
[data-layout='grid'] {
  margin-left: 0;
  padding-left: 0; }
  [class~='row']:after,
  [data-layout='grid']:after {
    content: "";
    display: table;
    clear: both; }

.large-gutter {
  margin-left: 0;
  padding-left: 0; }

.half-gutter {
  margin-left: 0;
  padding-left: 0; }

.no-gutter {
  margin-left: 0;
  padding-left: 0; }

.reset-gutter {
  margin-left: 0;
  padding-left: 0; }

ul.row,
ul[data-layout='grid'],
ol.row,
ol[data-layout='grid'] {
  padding-left: 0;
  list-style: none; }

li[class~='columns-'] {
  margin-left: 0;
  margin-bottom: 0; }

[data-columns='1'],
[class~='columns-1'] {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0; }
  @media (min-width: 48em) {
    [data-columns='1'],
    [class~='columns-1'] {
      width: 100%; } }
  @media (min-width: 48em) {
    [data-columns='1'],
    [class~='columns-1'] {
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding-left: 0; } }
  @media (min-width: 48em) and (min-width: 48em) {
    [data-columns='1'],
    [class~='columns-1'] {
      width: 100%; } }

[data-columns='2'],
[class~='columns-2'] {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0; }
  @media (min-width: 48em) {
    [data-columns='2'],
    [class~='columns-2'] {
      width: 100%; } }
  @media (min-width: 48em) {
    [data-columns='2'],
    [class~='columns-2'] {
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding-left: 0; } }
  @media (min-width: 48em) and (min-width: 48em) {
    [data-columns='2'],
    [class~='columns-2'] {
      width: 50%; } }

[data-columns='3'],
[class~='columns-3'] {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0; }
  @media (min-width: 48em) {
    [data-columns='3'],
    [class~='columns-3'] {
      width: 100%; } }
  @media (min-width: 48em) {
    [data-columns='3'],
    [class~='columns-3'] {
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding-left: 0; } }
  @media (min-width: 48em) and (min-width: 48em) {
    [data-columns='3'],
    [class~='columns-3'] {
      width: 33.3333333333%; } }

[data-columns='4'],
[class~='columns-4'] {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0; }
  @media (min-width: 48em) {
    [data-columns='4'],
    [class~='columns-4'] {
      width: 100%; } }
  @media (min-width: 48em) {
    [data-columns='4'],
    [class~='columns-4'] {
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding-left: 0; } }
  @media (min-width: 48em) and (min-width: 48em) {
    [data-columns='4'],
    [class~='columns-4'] {
      width: 25%; } }

[data-columns='5'],
[class~='columns-5'] {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0; }
  @media (min-width: 48em) {
    [data-columns='5'],
    [class~='columns-5'] {
      width: 100%; } }
  @media (min-width: 48em) {
    [data-columns='5'],
    [class~='columns-5'] {
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding-left: 0; } }
  @media (min-width: 48em) and (min-width: 48em) {
    [data-columns='5'],
    [class~='columns-5'] {
      width: 20%; } }

[data-columns='6'],
[class~='columns-6'] {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0; }
  @media (min-width: 48em) {
    [data-columns='6'],
    [class~='columns-6'] {
      width: 100%; } }
  @media (min-width: 48em) {
    [data-columns='6'],
    [class~='columns-6'] {
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding-left: 0; } }
  @media (min-width: 48em) and (min-width: 48em) {
    [data-columns='6'],
    [class~='columns-6'] {
      width: 16.6666666667%; } }

[data-columns='7'],
[class~='columns-7'] {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0; }
  @media (min-width: 48em) {
    [data-columns='7'],
    [class~='columns-7'] {
      width: 100%; } }
  @media (min-width: 48em) {
    [data-columns='7'],
    [class~='columns-7'] {
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding-left: 0; } }
  @media (min-width: 48em) and (min-width: 48em) {
    [data-columns='7'],
    [class~='columns-7'] {
      width: 14.2857142857%; } }

[data-columns='8'],
[class~='columns-8'] {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0; }
  @media (min-width: 48em) {
    [data-columns='8'],
    [class~='columns-8'] {
      width: 100%; } }
  @media (min-width: 48em) {
    [data-columns='8'],
    [class~='columns-8'] {
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding-left: 0; } }
  @media (min-width: 48em) and (min-width: 48em) {
    [data-columns='8'],
    [class~='columns-8'] {
      width: 12.5%; } }

[data-columns='9'],
[class~='columns-9'] {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0; }
  @media (min-width: 48em) {
    [data-columns='9'],
    [class~='columns-9'] {
      width: 100%; } }
  @media (min-width: 48em) {
    [data-columns='9'],
    [class~='columns-9'] {
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding-left: 0; } }
  @media (min-width: 48em) and (min-width: 48em) {
    [data-columns='9'],
    [class~='columns-9'] {
      width: 11.1111111111%; } }

[data-columns='10'],
[class~='columns-10'] {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0; }
  @media (min-width: 48em) {
    [data-columns='10'],
    [class~='columns-10'] {
      width: 100%; } }
  @media (min-width: 48em) {
    [data-columns='10'],
    [class~='columns-10'] {
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding-left: 0; } }
  @media (min-width: 48em) and (min-width: 48em) {
    [data-columns='10'],
    [class~='columns-10'] {
      width: 10%; } }

[data-columns='11'],
[class~='columns-11'] {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0; }
  @media (min-width: 48em) {
    [data-columns='11'],
    [class~='columns-11'] {
      width: 100%; } }
  @media (min-width: 48em) {
    [data-columns='11'],
    [class~='columns-11'] {
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding-left: 0; } }
  @media (min-width: 48em) and (min-width: 48em) {
    [data-columns='11'],
    [class~='columns-11'] {
      width: 9.0909090909%; } }

[data-columns='12'],
[class~='columns-12'] {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0; }
  @media (min-width: 48em) {
    [data-columns='12'],
    [class~='columns-12'] {
      width: 100%; } }
  @media (min-width: 48em) {
    [data-columns='12'],
    [class~='columns-12'] {
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding-left: 0; } }
  @media (min-width: 48em) and (min-width: 48em) {
    [data-columns='12'],
    [class~='columns-12'] {
      width: 8.3333333333%; } }

[data-columns='.1'],
[class~='columns-10'] {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0; }
  @media (min-width: 48em) {
    [data-columns='.1'],
    [class~='columns-10'] {
      width: 100%; } }
  @media (min-width: 48em) {
    [data-columns='.1'],
    [class~='columns-10'] {
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding-left: 0; } }
  @media (min-width: 48em) and (min-width: 48em) {
    [data-columns='.1'],
    [class~='columns-10'] {
      width: 10%; } }

[data-columns='.2'],
[class~='columns-20'] {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0; }
  @media (min-width: 48em) {
    [data-columns='.2'],
    [class~='columns-20'] {
      width: 100%; } }
  @media (min-width: 48em) {
    [data-columns='.2'],
    [class~='columns-20'] {
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding-left: 0; } }
  @media (min-width: 48em) and (min-width: 48em) {
    [data-columns='.2'],
    [class~='columns-20'] {
      width: 20%; } }

[data-columns='.3'],
[class~='columns-30'] {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0; }
  @media (min-width: 48em) {
    [data-columns='.3'],
    [class~='columns-30'] {
      width: 100%; } }
  @media (min-width: 48em) {
    [data-columns='.3'],
    [class~='columns-30'] {
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding-left: 0; } }
  @media (min-width: 48em) and (min-width: 48em) {
    [data-columns='.3'],
    [class~='columns-30'] {
      width: 30%; } }

[data-columns='.4'],
[class~='columns-40'] {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0; }
  @media (min-width: 48em) {
    [data-columns='.4'],
    [class~='columns-40'] {
      width: 100%; } }
  @media (min-width: 48em) {
    [data-columns='.4'],
    [class~='columns-40'] {
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding-left: 0; } }
  @media (min-width: 48em) and (min-width: 48em) {
    [data-columns='.4'],
    [class~='columns-40'] {
      width: 40%; } }

[data-columns='.5'],
[class~='columns-50'] {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0; }
  @media (min-width: 48em) {
    [data-columns='.5'],
    [class~='columns-50'] {
      width: 100%; } }
  @media (min-width: 48em) {
    [data-columns='.5'],
    [class~='columns-50'] {
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding-left: 0; } }
  @media (min-width: 48em) and (min-width: 48em) {
    [data-columns='.5'],
    [class~='columns-50'] {
      width: 50%; } }

[data-columns='.6'],
[class~='columns-60'] {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0; }
  @media (min-width: 48em) {
    [data-columns='.6'],
    [class~='columns-60'] {
      width: 100%; } }
  @media (min-width: 48em) {
    [data-columns='.6'],
    [class~='columns-60'] {
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding-left: 0; } }
  @media (min-width: 48em) and (min-width: 48em) {
    [data-columns='.6'],
    [class~='columns-60'] {
      width: 60%; } }

[data-columns='.7'],
[class~='columns-70'] {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0; }
  @media (min-width: 48em) {
    [data-columns='.7'],
    [class~='columns-70'] {
      width: 100%; } }
  @media (min-width: 48em) {
    [data-columns='.7'],
    [class~='columns-70'] {
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding-left: 0; } }
  @media (min-width: 48em) and (min-width: 48em) {
    [data-columns='.7'],
    [class~='columns-70'] {
      width: 70%; } }

[data-columns='.8'],
[class~='columns-80'] {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0; }
  @media (min-width: 48em) {
    [data-columns='.8'],
    [class~='columns-80'] {
      width: 100%; } }
  @media (min-width: 48em) {
    [data-columns='.8'],
    [class~='columns-80'] {
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding-left: 0; } }
  @media (min-width: 48em) and (min-width: 48em) {
    [data-columns='.8'],
    [class~='columns-80'] {
      width: 80%; } }

[data-columns='.9'],
[class~='columns-90'] {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0; }
  @media (min-width: 48em) {
    [data-columns='.9'],
    [class~='columns-90'] {
      width: 100%; } }
  @media (min-width: 48em) {
    [data-columns='.9'],
    [class~='columns-90'] {
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding-left: 0; } }
  @media (min-width: 48em) and (min-width: 48em) {
    [data-columns='.9'],
    [class~='columns-90'] {
      width: 90%; } }

[data-columns='.10'],
[class~='columns-100'] {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0; }
  @media (min-width: 48em) {
    [data-columns='.10'],
    [class~='columns-100'] {
      width: 100%; } }
  @media (min-width: 48em) {
    [data-columns='.10'],
    [class~='columns-100'] {
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding-left: 0; } }
  @media (min-width: 48em) and (min-width: 48em) {
    [data-columns='.10'],
    [class~='columns-100'] {
      width: 100%; } }

/* Typography
----------------------------------------- */
*, *:after, *:before {
  box-sizing: border-box; }

html,
button,
input,
select,
textarea {
  color: #333; }

::-moz-selection {
  background: red;
  color: white;
  text-shadow: none; }

::selection {
  background: red;
  color: white;
  text-shadow: none; }

hr {
  border: none;
  clear: both;
  margin: 44px auto 54px;
  width: 65%;
  border-bottom: 5px solid #f5f5f5;
  display: inline-block;
  left: 50%;
  margin-left: -32.5%;
  position: relative; }

abbr, acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #222;
  border-bottom: 1px solid #cccccc;
  cursor: help; }

abbr {
  text-transform: none; }

img {
  vertical-align: middle;
  interpolation-mode: bicubic; }

/*
* Flexible Media
*/
img, video, canvas, object, embed {
  max-width: 100%;
  height: auto; }

/*
* Flexible Video iFrame Embed
* use like :
<figure class="aspect">
	<iframe src="https://www.youtube.com/embed/4Fqg43ozz7A"></iframe>
</figure>
*/
figure.aspect {
  height: 0;
  padding-bottom: 56.25%;
  /* 16:9 */
  position: relative;
  overflow: hidden; }
  figure.aspect iframe,
  figure.aspect video,
  figure.aspect embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

pre {
  font-family: Monaco;
  background-color: #333;
  color: white;
  overflow: scroll;
  padding: 5px 10px;
  border-radius: 2px;
  tab-size: 2;
  /* Set tab size to 2 spaces */
  font-size: initial; }
  pre.prettyprint {
    border: none !important;
    padding: 20px !important;
    margin: 2% 0 !important;
    overflow: scroll;
    background: black;
    line-height: 1.5; }

html,
body {
  font-size: 100%; }

html {
  font-family: sans-serif;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility; }

body {
  line-height: 1;
  font-family: "Open Sans", helvetica, sans-serif;
  color: #333;
  -webkit-font-smooth: always;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.01);
  background: #fff;
  overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-size-adjust: none; }

/*=====================================================

Heading styles

======================================================*/
h1 {
  font-family: "Helvetica", "Open Sans", helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  word-wrap: break-word;
  word-break: break-word;
  line-height: 1.25;
  margin-top: 0.2rem;
  margin-bottom: 1rem; }
  h1.no-margin {
    margin: 0; }
  h1 small {
    line-height: 0; }

h2 {
  font-family: "Helvetica", "Open Sans", helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  word-wrap: break-word;
  word-break: break-word;
  line-height: 1.25;
  margin-top: 0.2rem;
  margin-bottom: 1rem; }
  h2.no-margin {
    margin: 0; }
  h2 small {
    line-height: 0; }

h3 {
  font-family: "Helvetica", "Open Sans", helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  word-wrap: break-word;
  word-break: break-word;
  line-height: 1.25;
  margin-top: 0.2rem;
  margin-bottom: 1rem; }
  h3.no-margin {
    margin: 0; }
  h3 small {
    line-height: 0; }

h4 {
  font-family: "Helvetica", "Open Sans", helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  word-wrap: break-word;
  word-break: break-word;
  line-height: 1.25;
  margin-top: 0.2rem;
  margin-bottom: 1rem; }
  h4.no-margin {
    margin: 0; }
  h4 small {
    line-height: 0; }

h5 {
  font-family: "Helvetica", "Open Sans", helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  word-wrap: break-word;
  word-break: break-word;
  line-height: 1.25;
  margin-top: 0.2rem;
  margin-bottom: 1rem; }
  h5.no-margin {
    margin: 0; }
  h5 small {
    line-height: 0; }

h6 {
  font-family: "Helvetica", "Open Sans", helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  word-wrap: break-word;
  word-break: break-word;
  line-height: 1.25;
  margin-top: 0.2rem;
  margin-bottom: 1rem; }
  h6.no-margin {
    margin: 0; }
  h6 small {
    line-height: 0; }

h1 {
  font-size: 44px;
  font-size: 2.75em;
  font-size: 2.75rem; }
  h1.xlarge {
    font-size: 110px;
    font-size: 6.875em;
    font-size: 6.875rem; }
  h1.xxlarge {
    font-size: 125.4px;
    font-size: 7.8375em;
    font-size: 7.8375rem; }
  h1.absurd {
    font-size: 176px;
    font-size: 11em;
    font-size: 11rem; }
  @media (min-width: 48em) {
    h1 {
      font-size: 46px;
      font-size: 2.875em;
      font-size: 2.875rem; }
      h1.xlarge {
        font-size: 115px;
        font-size: 7.1875em;
        font-size: 7.1875rem; }
      h1.xxlarge {
        font-size: 131.1px;
        font-size: 8.19375em;
        font-size: 8.19375rem; }
      h1.absurd {
        font-size: 184px;
        font-size: 11.5em;
        font-size: 11.5rem; } }
  @media (min-width: 60em) {
    h1 {
      font-size: 48px;
      font-size: 3em;
      font-size: 3rem; }
      h1.xlarge {
        font-size: 120px;
        font-size: 7.5em;
        font-size: 7.5rem; }
      h1.xxlarge {
        font-size: 136.8px;
        font-size: 8.55em;
        font-size: 8.55rem; }
      h1.absurd {
        font-size: 192px;
        font-size: 12em;
        font-size: 12rem; } }

h2 {
  font-size: 36px;
  font-size: 2.25em;
  font-size: 2.25rem; }
  @media (min-width: 48em) {
    h2 {
      font-size: 40px;
      font-size: 2.5em;
      font-size: 2.5rem; } }

h3 {
  font-size: 34px;
  font-size: 2.125em;
  font-size: 2.125rem; }
  @media (min-width: 60em) {
    h3 {
      font-size: 36px;
      font-size: 2.25em;
      font-size: 2.25rem; } }

h4 {
  font-size: 28px;
  font-size: 1.75em;
  font-size: 1.75rem; }
  @media (min-width: 60em) {
    h4 {
      font-size: 30px;
      font-size: 1.875em;
      font-size: 1.875rem; } }

h5 {
  font-size: 22px;
  font-size: 1.375em;
  font-size: 1.375rem; }

h6 {
  font-size: 18px;
  font-size: 1.125em;
  font-size: 1.125rem; }

/*=====================================================

Paragraph styles

======================================================*/
p {
  font-family: "Open Sans", helvetica, sans-serif;
  font-size: 16px;
  font-size: 1em;
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
  word-wrap: break-word; }
  p.lead {
    font-size: 20px;
    font-size: 1.25em;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    line-height: 1.5; }
  p a:not(.read-more):not(.btn):not(.comments #respond form .form-submit input[type="submit"]):not(.gform_button):not(.pagination.infinite-scroll-pagination a) {
    font-weight: 500;
    background: #f5f5f5;
    padding: 0 .25rem; }
    p a:not(.read-more):not(.btn):not(.comments #respond form .form-submit input[type="submit"]):not(.gform_button):not(.pagination.infinite-scroll-pagination a):hover {
      background: #333;
      color: white; }
  p [data-toggle='tooltip'] {
    font-weight: 600;
    border-bottom: 2px dotted #ccc; }

a {
  text-decoration: none;
  line-height: inherit;
  outline: 0;
  color: red;
  transition: all 0.35s cubic-bezier(0.2, 0.4, 0.1, 1); }
  a:hover {
    color: #333; }

small,
.small:not(a) {
  font-size: 10px;
  font-size: 0.625em;
  font-size: 0.625rem; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

.text-highlight {
  background: yellow;
  color: #333; }

/*=====================================================

Lists

======================================================*/
ul,
ol {
  font-size: initial; }
  ul li,
  ol li {
    line-height: 1.6;
    margin-bottom: 0.5rem; }

ul {
  list-style: none outside; }
  ul.square {
    list-style: square inside; }
  ul.circle {
    list-style: circle inside; }
  ul.disc {
    list-style: disc inside; }

ol {
  list-style: decimal inside; }
  ol li {
    margin-left: 0.5rem; }

dl dt {
  font-weight: bold; }

blockquote,
q {
  font-family: "Open Sans", helvetica, sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
  border-left: 3px solid;
  padding: 2%;
  margin: 2%; }
  blockquote p,
  q p {
    font-size: 21px;
    font-size: 1.3125em;
    font-size: 1.3125rem; }
  blockquote cite,
  q cite {
    font-size: initial;
    padding-top: 2%;
    display: block; }

/*=====================================================

Wordpress Required Styles

======================================================*/
.aligncenter,
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.alignleft,
a img.alignleft {
  display: block; }
  @media (min-width: 60em) {
    .alignleft,
    a img.alignleft {
      float: left; } }

.alignright,
a img.alignright {
  margin: 0 0 20px;
  display: block; }
  @media (min-width: 60em) {
    .alignright,
    a img.alignright {
      float: right;
      margin: 5px 0 20px 20px; } }

.alignnone,
.alignleft,
a img.alignnone,
a img.alignleft {
  margin: 0 0 20px; }
  @media (min-width: 60em) {
    .alignnone,
    .alignleft,
    a img.alignnone,
    a img.alignleft {
      margin: 5px 20px 20px 0; } }

.wp-caption {
  width: 100% !important;
  overflow: hidden; }

.wp-caption .wp-caption-text,
.gallery-caption {
  padding: 10px;
  line-height: 1.5;
  border-top: 3px solid black;
  font-size: 13px;
  font-weight: 600;
  color: #aaa; }

.wp-caption-dd {
  font-size: 11px;
  line-height: 17px;
  padding: 0 4px 5px;
  margin: 0; }

.sticky {
  background: #f7f7f7;
  padding: 0 10px 10px; }

.sticky h2 {
  padding-top: 10px; }

.comments {
  padding: 5% 0 0 0; }
  .comments .comment-count {
    font-family: "Helvetica", "Open Sans", helvetica, sans-serif;
    font-weight: 800;
    font-size: 16px;
    font-size: 1em;
    font-size: 1rem;
    text-transform: uppercase;
    border-bottom: 3px solid #f5f5f5;
    display: block;
    padding-bottom: 2%; }
  .comments .comment-list {
    list-style-type: none; }
    .comments .comment-list:hover > li {
      opacity: .4; }
      .comments .comment-list:hover > li:hover {
        opacity: 1; }
    .comments .comment-list > li.comment {
      transition: all 0.35s cubic-bezier(0.2, 0.4, 0.1, 1);
      transform: translate3d(0, 0, 0);
      margin: 0; }
      .comments .comment-list > li.comment article.comment {
        padding: 2.5% 0;
        overflow: hidden;
        border-bottom: 1px solid #f5f5f5; }
        .comments .comment-list > li.comment article.comment .comment-author {
          float: left;
          width: 15%; }
        .comments .comment-list > li.comment article.comment .comment-content {
          width: 85%;
          padding: 0 0 0 5%; }
          .comments .comment-list > li.comment article.comment .comment-content .comment-meta {
            font-size: .9em;
            margin-bottom: 1%; }
          .comments .comment-list > li.comment article.comment .comment-content footer .reply {
            font-size: .9em; }
      .comments .comment-list > li.comment ol.children li.comment {
        margin: 0 0 0 5%; }
  .comments #respond {
    padding: 0%; }
    .comments #respond label {
      display: block; }
    .comments #respond form .form-allowed-tags {
      display: none; }
    .comments #respond form input, .comments #respond form textarea {
      padding: 10px;
      font-size: 14px;
      border: 3px solid #f5f5f5; }

.mejs-overlay-button {
  border-radius: 50%;
  border: 5px solid white;
  background: none !important;
  margin: -40px 0 0 -40px;
  padding-left: 5px;
  width: 80px;
  height: 80px;
  opacity: .3; }

.mejs-overlay:hover .mejs-overlay-button {
  opacity: 1; }

.mejs-controls .mejs-playpause-button button,
.mejs-controls .mejs-button button {
  margin: 0;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
  position: relative; }

.mejs-controls .mejs-volume-button .mejs-volume-slider {
  left: -8px; }

.mejs-controls .mejs-time-rail .mejs-time-loaded,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current {
  background-color: red; }

article.post:after {
  content: "";
  display: table;
  clear: both; }
article.post header {
  display: block; }
  article.post header h6 {
    display: none; }
  article.post header h3 {
    font-weight: 600;
    text-transform: none;
    padding-top: 0; }
    article.post header h3 a {
      color: #333; }
      article.post header h3 a:hover {
        color: red; }
    article.post header h3 .edit-link a {
      color: #aaa;
      font-size: 1rem;
      border-bottom: 1px solid #ddd;
      padding-bottom: 1px; }
  article.post header .post-meta {
    padding: 0% 0 4%; }
@media (min-width: 60em) {
  article.post figure.post-thumbnail img {
    float: left;
    margin-right: 2rem;
    width: 40%; } }
article.post .post-excerpt {
  padding: 0 0 20px 0;
  font-size: 20px;
  font-size: 1.25em;
  font-size: 1.25rem;
  font-weight: 400; }
  article.post .post-excerpt .read-more {
    font-size: .9rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none; }
article.post footer .post-meta {
  padding: 2% 0; }
article.post .post-meta .meta-label {
  margin-right: 2%;
  font-size: 16px;
  font-size: 1em;
  font-size: 1rem;
  color: #222;
  font-weight: 800;
  text-transform: uppercase; }
  article.post .post-meta .meta-label a,
  article.post .post-meta .meta-label time {
    color: #aaa;
    font-weight: 500; }
    article.post .post-meta .meta-label a:hover,
    article.post .post-meta .meta-label time:hover {
      color: red; }
  article.post .post-meta .meta-label:after {
    content: ''; }
  article.post .post-meta .meta-label.meta-author:before {
    content: 'Posted by: '; }
  article.post .post-meta .meta-label.meta-time:before {
    content: 'Date: '; }
  article.post .post-meta .meta-label.meta-category:before {
    content: ' Category: '; }
  article.post .post-meta .meta-label.meta-tags:before {
    content: 'Tags: '; }
article.post .social-share li {
  margin: 0 2% 0 0; }
  article.post .social-share li a {
    color: #ccc; }
    article.post .social-share li a:hover {
      color: red; }
  article.post .social-share li:first-of-type {
    display: none; }
article.post.format-video figure {
  float: none; }
article.post.format-gallery .slider {
  margin: 0px auto; }
  article.post.format-gallery .slider:hover ~ .controls {
    opacity: 1; }
    article.post.format-gallery .slider:hover ~ .controls a[rel="prev"] {
      left: 20px; }
    article.post.format-gallery .slider:hover ~ .controls a[rel="next"] {
      right: 20px; }
article.post.format-gallery .controls {
  transition: all 0.35s cubic-bezier(0.2, 0.4, 0.1, 1);
  opacity: 0;
  z-index: 99999; }
  article.post.format-gallery .controls a {
    color: white; }
    article.post.format-gallery .controls a[rel="prev"] {
      left: 0px; }
    article.post.format-gallery .controls a[rel="next"] {
      right: 0px; }
  article.post.format-gallery .controls:hover {
    opacity: 1; }
    article.post.format-gallery .controls:hover a[rel="prev"] {
      left: 20px; }
    article.post.format-gallery .controls:hover a[rel="next"] {
      right: 20px; }
article.post iframe {
  width: 100%; }

.btn, .comments #respond form .form-submit input[type="submit"], .gform_button, .pagination.infinite-scroll-pagination a {
  text-align: center;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
  font-size: 1em;
  font-size: 1rem;
  color: #333;
  background: none;
  border: 1px solid #333;
  padding: 0em 2em;
  line-height: 2.5em; }
  .btn[data-scroll-to="top"], .comments #respond form .form-submit input[data-scroll-to="top"][type="submit"], [data-scroll-to="top"].gform_button, .pagination.infinite-scroll-pagination a[data-scroll-to="top"] {
    transition: all 0.35s cubic-bezier(0.2, 0.4, 0.1, 1);
    visibility: hidden;
    opacity: 0;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 0em 0.75em;
    margin: 0;
    height: 1.8em;
    line-height: 1.75em;
    font-size: 1.4em;
    border: none;
    background: red;
    color: white;
    box-sizing: border-box; }
    .btn[data-scroll-to="top"].fadeIn, .comments #respond form .form-submit input[data-scroll-to="top"].fadeIn[type="submit"], [data-scroll-to="top"].fadeIn.gform_button, .pagination.infinite-scroll-pagination a[data-scroll-to="top"].fadeIn {
      opacity: 1;
      visibility: visible; }
  .btn:hover, .comments #respond form .form-submit input[type="submit"]:hover, .gform_button:hover, .pagination.infinite-scroll-pagination a:hover {
    background: #333;
    border-color: #333;
    color: #fff; }
  .btn.solid, .comments #respond form .form-submit input.solid[type="submit"], .solid.gform_button, .pagination.infinite-scroll-pagination a.solid {
    background: red;
    border-color: red;
    color: white; }
    .btn.solid:hover, .comments #respond form .form-submit input.solid[type="submit"]:hover, .solid.gform_button:hover, .pagination.infinite-scroll-pagination a.solid:hover {
      background: #F5F5E1;
      border-color: #F5F5E1;
      color: white; }
    .btn.solid.invert, .comments #respond form .form-submit input.solid.invert[type="submit"], .dark .btn.solid, .dark .comments #respond form .form-submit input.solid[type="submit"], .comments #respond form .form-submit .dark input.solid[type="submit"], .dark .solid.gform_button, .dark .pagination.infinite-scroll-pagination a.solid, .pagination.infinite-scroll-pagination .dark a.solid, [class*='colored-overlay-'] .btn.solid, [class*='colored-overlay-'] .comments #respond form .form-submit input.solid[type="submit"], .comments #respond form .form-submit [class*='colored-overlay-'] input.solid[type="submit"], [class*='colored-overlay-'] .solid.gform_button, [class*='colored-overlay-'] .pagination.infinite-scroll-pagination a.solid, .pagination.infinite-scroll-pagination [class*='colored-overlay-'] a.solid, .solid.invert.gform_button, .pagination.infinite-scroll-pagination a.solid.invert {
      background: white;
      color: #333; }
      .btn.solid.invert:hover, .comments #respond form .form-submit input.solid.invert[type="submit"]:hover, .dark .btn.solid:hover, .dark .comments #respond form .form-submit input.solid[type="submit"]:hover, .comments #respond form .form-submit .dark input.solid[type="submit"]:hover, .dark .solid.gform_button:hover, .dark .pagination.infinite-scroll-pagination a.solid:hover, .pagination.infinite-scroll-pagination .dark a.solid:hover, [class*='colored-overlay-'] .btn.solid:hover, [class*='colored-overlay-'] .comments #respond form .form-submit input.solid[type="submit"]:hover, .comments #respond form .form-submit [class*='colored-overlay-'] input.solid[type="submit"]:hover, [class*='colored-overlay-'] .solid.gform_button:hover, [class*='colored-overlay-'] .pagination.infinite-scroll-pagination a.solid:hover, .pagination.infinite-scroll-pagination [class*='colored-overlay-'] a.solid:hover, .solid.invert.gform_button:hover, .pagination.infinite-scroll-pagination a.solid.invert:hover {
        background: #F5F5E1;
        border-color: #F5F5E1;
        color: white; }
  .btn.invert, .comments #respond form .form-submit input.invert[type="submit"], .dark .btn, .dark .comments #respond form .form-submit input[type="submit"], .comments #respond form .form-submit .dark input[type="submit"], .dark .gform_button, .dark .pagination.infinite-scroll-pagination a, .pagination.infinite-scroll-pagination .dark a, [class*='colored-overlay-'] .btn, [class*='colored-overlay-'] .comments #respond form .form-submit input[type="submit"], .comments #respond form .form-submit [class*='colored-overlay-'] input[type="submit"], [class*='colored-overlay-'] .gform_button, [class*='colored-overlay-'] .pagination.infinite-scroll-pagination a, .pagination.infinite-scroll-pagination [class*='colored-overlay-'] a, .invert.gform_button, .pagination.infinite-scroll-pagination a.invert {
    color: white;
    border-color: white; }
    .btn.invert:hover, .comments #respond form .form-submit input.invert[type="submit"]:hover, .dark .btn:hover, .dark .comments #respond form .form-submit input[type="submit"]:hover, .comments #respond form .form-submit .dark input[type="submit"]:hover, .dark .gform_button:hover, .dark .pagination.infinite-scroll-pagination a:hover, .pagination.infinite-scroll-pagination .dark a:hover, [class*='colored-overlay-'] .btn:hover, [class*='colored-overlay-'] .comments #respond form .form-submit input[type="submit"]:hover, .comments #respond form .form-submit [class*='colored-overlay-'] input[type="submit"]:hover, [class*='colored-overlay-'] .gform_button:hover, [class*='colored-overlay-'] .pagination.infinite-scroll-pagination a:hover, .pagination.infinite-scroll-pagination [class*='colored-overlay-'] a:hover, .invert.gform_button:hover, .pagination.infinite-scroll-pagination a.invert:hover {
      background: #fff;
      color: #333;
      border-color: white; }
  .btn.no-content, .comments #respond form .form-submit input.no-content[type="submit"], .no-content.gform_button, .pagination.infinite-scroll-pagination a.no-content {
    padding: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center; }
  .btn.flip, .comments #respond form .form-submit input.flip[type="submit"], .flip.gform_button, .pagination.infinite-scroll-pagination a.flip {
    width: 45px;
    height: 40px;
    overflow: hidden;
    padding: 0 !important;
    text-align: center; }
    .btn.flip i, .comments #respond form .form-submit input.flip[type="submit"] i, .flip.gform_button i, .pagination.infinite-scroll-pagination a.flip i {
      position: relative;
      top: 0;
      display: block;
      height: 100%;
      line-height: 40px;
      transition: all 0.35s cubic-bezier(0.2, 0.4, 0.1, 1); }
    .btn.flip:hover i, .comments #respond form .form-submit input.flip[type="submit"]:hover i, .flip.gform_button:hover i, .pagination.infinite-scroll-pagination a.flip:hover i {
      top: -40px; }

@media (min-width: 60em) {
  #nav {
    display: inline-block;
    text-align: right; } }
#nav ul.main-menu {
  text-align: right;
  line-height: 100px;
  transition: all 0.35s cubic-bezier(0.2, 0.4, 0.1, 1); }
  @media (min-width: 60em) {
    #nav ul.main-menu {
      display: inline-block; } }
  #nav ul.main-menu li {
    font-size: 14px;
    font-size: 0.875em;
    font-size: 0.875rem;
    margin: 0;
    vertical-align: middle; }
    #nav ul.main-menu li:last-child {
      margin: 0; }
    #nav ul.main-menu li a.active {
      color: red; }
  #nav ul.main-menu.main-menu {
    z-index: 202;
    zoom: 1;
    margin: 0; }
    #nav ul.main-menu.main-menu .sub-menu {
      text-align: center;
      border: 1px solid #efefef;
      position: absolute;
      visibility: hidden;
      margin: 0;
      padding: 5px 0;
      background-color: #ffffff;
      opacity: 0;
      top: 0;
      transition: opacity 0.35s cubic-bezier(0.2, 0.4, 0.1, 1), margin 0.35s cubic-bezier(0.2, 0.4, 0.1, 1); }
      #nav ul.main-menu.main-menu .sub-menu li {
        display: block;
        float: none;
        margin: 0; }
        #nav ul.main-menu.main-menu .sub-menu li a {
          display: block;
          padding: 10px 20px;
          min-height: 25px;
          float: none;
          color: #A4A4A4; }
        #nav ul.main-menu.main-menu .sub-menu li.current-menu-item > a, #nav ul.main-menu.main-menu .sub-menu li.active > a, #nav ul.main-menu.main-menu .sub-menu li:hover > a {
          color: #444;
          background-color: #fafafa; }
        #nav ul.main-menu.main-menu .sub-menu li:hover > a {
          background-color: #000;
          color: #fff; }
        #nav ul.main-menu.main-menu .sub-menu li > a {
          color: #6C6C6C; }
          #nav ul.main-menu.main-menu .sub-menu li > a:hover {
            color: #fff; }
      #nav ul.main-menu.main-menu .sub-menu .sub-menu {
        left: 100%;
        top: -1px;
        z-index: 9999;
        margin: 0;
        border-left: 0; }
    #nav ul.main-menu.main-menu li {
      position: relative;
      z-index: 203;
      list-style: none; }
      #nav ul.main-menu.main-menu li:hover > .sub-menu {
        visibility: visible;
        opacity: 1;
        height: auto; }
    #nav ul.main-menu.main-menu a {
      z-index: 204; }
    #nav ul.main-menu.main-menu > li > a {
      display: block;
      padding: 0;
      text-align: center;
      font: 14px/20px "Helvetica", "Open Sans", helvetica, sans-serif;
      margin: 0;
      display: block;
      padding: 10px;
      text-align: center; }
      #nav ul.main-menu.main-menu > li > a:not(.active) {
        color: #ccc; }
      #nav ul.main-menu.main-menu > li > a:hover {
        opacity: 1; }
      #nav ul.main-menu.main-menu > li > a:after, #nav ul.main-menu.main-menu > li > a:before {
        background-color: #d9d9d9;
        position: absolute;
        content: ''; }
    #nav ul.main-menu.main-menu > li > .sub-menu {
      margin-top: 20px;
      top: 40px;
      padding: .5em 0;
      left: 50%;
      transform: translateX(-50%);
      max-width: 180px; }
      #nav ul.main-menu.main-menu > li > .sub-menu:before, #nav ul.main-menu.main-menu > li > .sub-menu:after {
        border-style: solid;
        border-width: 0 8px 8px 8px;
        content: "";
        left: 50%;
        margin-left: -8px;
        position: absolute; }
      #nav ul.main-menu.main-menu > li > .sub-menu:before {
        border-color: transparent transparent #efefef transparent;
        top: -9px; }
      #nav ul.main-menu.main-menu > li > .sub-menu:after {
        border-color: transparent transparent #ffffff transparent;
        top: -8px; }
    #nav ul.main-menu.main-menu > li.dropdown > a:before {
      width: 5px;
      height: 1px;
      right: 3px;
      top: 30px; }
    #nav ul.main-menu.main-menu > li.dropdown > a:after {
      width: 1px;
      height: 5px;
      right: 5px;
      top: 28px; }
    #nav ul.main-menu.main-menu > li.current-menu-item > a, #nav ul.main-menu.main-menu > li.active > a, #nav ul.main-menu.main-menu > li:hover > a, #nav ul.main-menu.main-menu > li > a:hover {
      color: red; }
    #nav ul.main-menu.main-menu > li:hover > .sub-menu {
      margin-top: 0; }
    #nav ul.main-menu.main-menu:after {
      clear: both; }

.container,
#header,
#footer {
  margin: 0 auto; }

#main {
  background: white; }

[class^='columns-'] {
  margin-bottom: 1rem; }

.pagination:first-child a:before {
  content: 'Newer posts'; }
.pagination:last-child a:before {
  content: 'Older posts'; }
.pagination.infinite-scroll-pagination {
  text-align: center; }
  .pagination.infinite-scroll-pagination a {
    margin-bottom: 3rem; }
    .pagination.infinite-scroll-pagination a:before {
      content: ''; }

.float-left {
  float: left; }

.float-right {
  float: right; }

[class*='text-align-'] {
  text-align: center; }

@media (min-width: 60em) {
  .text-align-left {
    text-align: left !important; }

  .text-align-right {
    text-align: right !important; }

  .text-align-center {
    text-align: center !important; } }
/* -- Use this wrapper if you want to block-out a column with padding
Taken from http://csswizardry.com/2011/10/the-island-object/) -- */
.island {
  padding: 3vmax 10vw; }

[data-layout="grid"].wide,
[class=row].wide {
  max-width: 80em; }
[data-layout="grid"] .primary,
[class=row] .primary {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0; }
  @media (min-width: 48em) {
    [data-layout="grid"] .primary,
    [class=row] .primary {
      width: 100%; } }
[data-layout="grid"] .sidebar,
[data-layout="grid"] aside[role="complementary"],
[class=row] .sidebar,
[class=row] aside[role="complementary"] {
  width: 100%; }
  @media (min-width: 60em) {
    [data-layout="grid"] .sidebar,
    [data-layout="grid"] aside[role="complementary"],
    [class=row] .sidebar,
    [class=row] aside[role="complementary"] {
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding-left: 0; } }
  @media (min-width: 60em) and (min-width: 48em) {
    [data-layout="grid"] .sidebar,
    [data-layout="grid"] aside[role="complementary"],
    [class=row] .sidebar,
    [class=row] aside[role="complementary"] {
      width: 33.3333333333%; } }

.has-sidebar .primary {
  width: 100%; }
  @media (min-width: 60em) {
    .has-sidebar .primary {
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding-left: 0; } }
  @media (min-width: 60em) and (min-width: 48em) {
    .has-sidebar .primary {
      width: 66.6666666667%; } }

aside[role="complementary"] .search-form input {
  padding: 10px; }
  aside[role="complementary"] .search-form input[type="search"] {
    border-radius: 0;
    -webkit-appearance: none;
    border: 1px solid #ddd;
    width: 70%;
    margin-right: 0%;
    border-right: 0; }
  aside[role="complementary"] .search-form input[type="submit"] {
    border: 1px solid #aaa;
    color: white;
    font-weight: 100;
    text-transform: uppercase;
    width: 25%;
    margin: 0; }
aside[role="complementary"] .widget {
  padding: 0 0 2em; }
  aside[role="complementary"] .widget:first-of-type .widgettitle {
    padding-top: 0; }
  aside[role="complementary"] .widget .widgettitle {
    font-size: 1.3em;
    font-weight: 600; }
  aside[role="complementary"] .widget ul li a {
    color: #666; }
    aside[role="complementary"] .widget ul li a:hover {
      color: #444; }
  aside[role="complementary"] .widget p {
    font-size: .9em; }
