@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1); 
  }
  60% {
    -webkit-transform: scale(1.5); 
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@-webkit-keyframes color {
  0% { 
    border-color: $grey;
  }
  60% {
    border-color: $success-color;
  }
  100% {
    border-color: $grey
  }
}

@-webkit-keyframes number {
  0% { 
    color: $dark-grey;
  }
  60% {
    color: transparent;
  }
  100% {
    color: $grey
  }
}

@-webkit-keyframes fadeIn {
  0% { 
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    display: block;
  }
}

@-webkit-keyframes fadeOut {
  0% { 
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
    display: none;
  }
}