<section ng-controller="ListController">
	<blockquote class="large-blockquote space-double">
		<span class="design-quote">Design Quote</span>
		<p>{{ quote | quoteencode}}</p>
		<span class="byline">- {{ author }}</span>
	</blockquote>

	<form ng-submit="createTask()" name="creatListForm" class="task-form">
		<input type="text" ng-model="task" id="task-create" placeholder="Enter your task">
		<button type="submit" class="btn">Add Task</button>
	</form>

	<div class="task-filters">
		<span class="filter-active filter active" task-filter ng-click="filterList = null">All ( {{tasks.length}} )</span>
		<span class="filter-active filter" task-filter ng-click="filterList = {taskCompleted: false}">Active ( {{(tasks|filter:{taskCompleted:false}).length}} )</span>
		<span class="filter-completed filter" task-filter ng-click="filterList = {taskCompleted: true}">Completed ( {{(tasks|filter:{taskCompleted:true}).length}} )</span>
		<!-- <span class="filter-active">Priority</span> -->
	</div>

	<div class="wrapper task-wrapper">
		<div class="tasks">
			<ul>
				<li ng-repeat="task in tasks | filter:filterList | orderBy:'taskCompleted':false" ng-class="{ 'complete': task.taskCompleted }">
					<div class="task-status">
						<input type="checkbox" ng-checked="{{task.taskCompleted}}" ng-click="completedToggle($event)" data-key="{{ task.taskKey }}" />
					</div>
					<div class="task-info"><span>{{ task.task }}</span><textarea name="" id="" data-key="{{ task.taskKey }}">{{ task.task }}</textarea></div>
					<div class="task-actions">
					<span class="cancel-edit-task icon-cancel" ng-click="cancelTask($event)" data-key="{{ task.taskKey }}"></span>
					<span class="save-task icon-save" ng-click="saveTask($event)" data-key="{{ task.taskKey }}"></span>
					<span class="edit-task icon-edit" ng-click="editTask($event)" data-key="{{ task.taskKey }}"></span>
					<span class="delete-task icon-delete" ng-click="deleteTask($event)" data-key="{{ task.taskKey }}"></span>
					</div>
				</li>
			</ul>
		</div>
	</div>


</section>