<section ng-controller="LoginController">
  <h1>AngularBase</h1>
  <p>Get Started with AngularJs.</p>

  <hr style="width: 100%; margin-left: 0; left: 0;">

  <ul>
    <li><h3>List of Resources</h3></li>
    <li><a href="https://angularjs.org/" target="_blank">AngularJs</a></li>
    <li><a href="https://www.firebase.com/docs/web/libraries/angular/index.html" target="_blank">AngularFire</a></li>
    <li><a href="http://danielstern.github.io/ngAudio/" target="_blank">ngAudio</a></li>
  </ul>
</section>